html, 
body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;         /*  100% is 16 px but we want 10 px so we do 62.5 */

}

.parent-intro{
    font-size: 30px;
}
.child-1{
    border: 1px solid red;
}

.child-2{
    border: 1px solid red;
}

.child-3{
    border: 1px solid red;
}

.parent-spacing{
    font-size: 30px;
}


.parent-flexconstants{
    font-size: 30px;
}